.myhead {
  text-align: center;
  background: goldenrod;
  line-height: 1.4;
  padding: 1rem;
}
input{
  font-size: 1em;
  border-radius: 5px;
  border: 0;
  padding: 0.8em;
  
  margin-right: 10px;
}
.mytodolist{
  list-style-type: none;
  padding: 1rem;
}
 
.add{
  font-size: 1em;
  border-radius: 10px;
  border: 2;
  border-color: black;
  padding: 0.8em;
  max-width: 80%;
  background:rgba(255,255,255,0.4);
  > a {
    margin-left:auto;
    text-decoration: none;
    padding: 1px;
    font-weight: bold;
    opacity: 0.5;
   
    &:hover{
    opacity: 1;
    text-decoration: none;
     }
}
}
.todo{
  display: flex;
  text-align: left;
  background:rgba(255,255,255,0.4);
  margin-bottom: 1rem;
  padding:0.5rem;
  line-height: 1;
  border-radius: 5px;

  > a {
  margin-left:auto;
  text-decoration: none;
  padding: 1px;
  font-weight: bold;
  opacity: 0.5;
 
  &:hover{
  opacity: 1;
  text-decoration: none;
   }
  }
}


